
.carrousel_parent-ecrans{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran{
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}

.carrousel_ecran figure{
    margin:0;
}