.header__menu{
    position: fixed;
    top: 6.15rem;
    left: 0;
    width: 100%;
    display: grid;
    place-content: left;
    font-family: 'Montserrat';
    font-size: var(--h1);
    color: var(--blanc);
    background-color: var(--gris-fonce);
}

.header__menu-titre1{
    padding-left: 40px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 600;
}

.header__liste1{
    text-align: left;
    list-style: none;
    list-style-type: none;
    margin-bottom: 1px;
    padding-bottom: 20px;
}

.header__menu-titre2{
    text-align: left;
    padding-left: 40px;
    font-size: 1.5rem;
    margin-bottom: 1px;
    margin-top: 10px;
    font-weight: 600;
}

.header__liste2{
    text-align: left;
    list-style: none;
    list-style-type: none;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.header__anne{
    text-decoration: none;
    color: var(--blanc);
}

.header__betty{
    text-decoration: none;
    color: var(--blanc);
}

.header__james{
    text-decoration: none;
    color: var(--blanc);
}

.header__forrest{
    text-decoration: none;
    color: var(--blanc);
}

.header__mouvement{
    text-decoration: none;
    color: var(--blanc);
}

.header__billets{
    text-decoration: none;
    color: var(--blanc);
}

.header__contact{
    text-decoration: none;
    color: var(--blanc);
}